.item {
  display: flex;
  width: 100%;
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(30%);
  row-gap: 8px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  justify-content: space-between;
  cursor: pointer;
  transition: opacity 0.3s linear;

  @media screen and (max-width: 880px) {
    padding: 6px;
  }
}

.item:hover {
  opacity: 0.6;
}

.containter {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.data {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #da1616;

  @media screen and (max-width: 880px) {
    font-size: 16px;
  }
}

.title {
  margin: 5px 0 0;
  font-size: 24px;
  font-weight: 500;

  @media screen and (max-width: 880px) {
    font-size: 20px;
  }
}

.about {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  column-gap: 50px;
  font-size: 16px;
  font-weight: 400;

  @media screen and (max-width: 880px) {
    font-size: 14px;
  }
}

.number {
  font-size: 20px;
  color: gainsboro;
}
