@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

body {
  background: #ebeef3;
  color: #FFF;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Roboto", "JetBrains Mono", sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
